/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-yellow: #f6cd25;
  --theme-red: #dc163b;
}

body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 1.8em;
}
